<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TriggerPoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <TriggerPoint.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>35, 39, 48</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>0, 97, 152</value>
      </setting>
      <setting name="BgColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="AverageColumns" serializeAs="String">
        <value>AverageDataId, ScriptId, ScriptName, DateTime, Open, High, Low, Average, Close, RecordId, DateTimeSlot</value>
      </setting>
      <setting name="BollingerColumns" serializeAs="String">
        <value>id,RecordId,ScriptId,DateTimeSlot,DateTime,Open,High,Low,Close,SMA,StandardDeviation,Deviations,LowerBand,UpperBand,ScriptName</value>
      </setting>
      <setting name="MACDCloumns" serializeAs="String">
        <value>MACDDataId,ScriptId,RecordId,ScriptName,DateTimeSlot,DateTime,Open,High,Low,Close,EMA1,EMA2,MACD,Signal,Percentage,Histogram,TragetGen,BuySellPrice</value>
      </setting>
      <setting name="RSIColumns" serializeAs="String">
        <value>RSIDataId,ScriptId,ScriptName,DateTimeSlot,DateTime,Open,High,Low,Close,RecordId,Change,Advance,Decline,AvgGain_Slow,AvgLoss_Slow,RS_Slow,RSI_Slow,AvgGain_Fast,AvgLoss_Fast,RS_Fast,RSI_Fast,TargetGenFast,BuySellPriceFast,TargetFast</value>
      </setting>
      <setting name="SwingColumns" serializeAs="String">
        <value>SwingDataId,ScriptId,ScriptName,DateTimeSlot,DateTime,Open,High,Low,Close,SwingIndex,ATR,ATRAvg,UpperBand,LowerBand,AvgLowerBand,AvgUpperBand,DiffUp,DiffLow,Call,RecordId</value>
      </setting>
      <setting name="StochasticColumns" serializeAs="String">
        <value />
      </setting>
    </TriggerPoint.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="MACDPara1" value="Short Period" />
    <add key="MACDPara2" value="Long Period" />
    <add key="MACDPara3" value="Signal Period" />
    <add key="RSIPara1" value="Fast Period" />
    <add key="RSIPara2" value="Slow Period" />
    <add key="RSIPara3" value="Lower Limit" />
    <add key="RSIPara4" value="Upper Limit" />
    <!--END RSI Detail-->
    <!--STOCHASTIC Detail-->
    <add key="STOCHASTICPara1" value="Fast Period" />
    <add key="STOCHASTICPara2" value="Slow Period" />
    <add key="STOCHASTICPara3" value="Lower Limit" />
    <add key="STOCHASTICPara4" value="Upper Limit" />
  </appSettings>
  <connectionStrings>
    <add name="TriggerPointContext" connectionString="metadata=res://*/Data.TriggerPointModel.csdl|res://*/Data.TriggerPointModel.ssdl|res://*/Data.TriggerPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\CVDATABASE;initial catalog=Nirav;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>